.card-resumen {
    background: linear-gradient(270deg,
            rgba(142, 45, 226, 0) 0%,
            rgba(142, 45, 226, 0.55) 100%),
        linear-gradient(270deg,
            rgba(255, 135, 0, 0.9) 0%,
            rgba(255, 179, 93, 0.9) 69.71%);
    color: white;
    border: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.card-resumen-img {
    object-fit: cover;
    height: 100%;
    border-radius: 0.75rem;
    padding: 8px;
}

.form-card {
    background-color: #f8f9fa;
    border: 0;
    border-radius: 0.75rem;
}

.form-control-custom {
    background-color: #fddfc0;
    border: 0;
    border-radius: 50px;
    padding: 0.75rem 1.25rem;
    font-weight: 500;
}

.form-control-custom::placeholder {
    color: #b9a491;
    font-weight: 500;
}

.input-group-custom .input-group-text {
    background-color: #fddfc0;
    border: 0;
    border-radius: 50px 0 0 50px;
    color: #b9a491;
    font-weight: 500;
}

.input-group-custom .form-control {
    border-radius: 0 50px 50px 0 !important;
}


.btn-reserva {
    background: linear-gradient(270deg,
            rgba(142, 45, 226, 0) 0%,
            rgba(142, 45, 226, 0.55) 100%),
        linear-gradient(270deg,
            rgba(255, 135, 0, 0.9) 0%,
            rgba(255, 179, 93, 0.9) 69.71%);
    border: 0;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 0.75rem;
    transition: all 0.3s ease;
}

.btn-reserva:hover {
    color: white;
    opacity: 0.9;
}